@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap');

@media screen and (max-width: 850px) {
    #container-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #container-box .setting-info {
        width: 100%;
    }

    #container-box .email-1-set, 
    #container-box .password-2-set, 
    #container-box .deleteacc-3-set {
        width: 90%;
        font-size: 18px;
    }

    #emailset-modal .modal-content, #passwset-modal .modal-content,
    #delaccset-modal .modal-content {
        width: 80%;
        padding: 50px 35px;
    }


    #emailset-modal .avatar-update-info label, #passwset-modal .username-update-info label,
    #delaccset-moda .name-update-info label {
        margin-bottom: 5px;
    }

    #cancel-emailset, #cancel-passwset, #cancel-delaccset {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #container-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

body{
    padding: 0;
    margin: 0;
}

.container-box {
    width: 60%;
    height: 100%;
    margin-left: 119px;
    margin-right: 119px;
}

.setting-container h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #50514F;
    margin-top: 10px;
    margin-bottom: 0;
}

.setting-container .setting-info {
    background-color: rgba(226, 226, 226, 1);
    border-radius: 5px;
    width: 565px;
    height: 288px;
    margin-top: 25px;
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email-1-set, .password-2-set, .deleteacc-3-set {
    width: 515px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-out;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #50514F;
    text-align: left;
    padding-left: 15px;
}

.email-1-set i, .password-2-set i, .deleteacc-3-set i {
    font-size: 32px;
    color: #50514F;
    float: right;
    padding-right: 15px;
}

.email-1-set:hover, .password-2-set:hover, .deleteacc-3-set:hover {
    transform: scale(1.02);
}

.email-1-set {
    margin-top: 25px;
}

.setting-info .deleteacc-3-set {
    margin-bottom: 25px;
}

.emailset-modal, .passwordset-modal, .delacc-modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.6);
    overflow-y: auto;
}

.modal-content {
    background: #FFFFFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    border: none;
    margin: auto;
    padding: 50px;
    width: 50%;
}

.modal-content .email-update-info, .modal-content .password-update-info, .modal-content .delete-account-info {
    display: flex;
    flex-direction: column;
}

.modal-content .email-update-info label, .password-update-info label,
.delete-account-info label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
    color: #50514F;
    margin-bottom: 15px;
}

.modal-content .email-update-info input, .password-update-info input {
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #50514F;
    margin-bottom: 20px;
}

.modal-content .email-update-info span, .password-update-info span {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #FA8334;
}



.email-update-info .button-class, .password-update-info .button-class {
    margin-top: 20px;
}

.email-update-info #cancel-emailset, .password-update-info #cancel-passwset, .delete-account-info
#cancel-delaccset {
    width: 107px;
    height: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: #FFFFFF;
    border: 2px solid #FA8334;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FA8334;
    cursor: pointer;
    margin-right: 10px;
}

.email-update-info #cancel-emailset:hover, .password-update-info #cancel-passwset:hover,
.delete-account-info #cancel-delaccset:hover {
    background-color: #FA8334;
    color: #FFFFFF;
    transition: 0.6s;
}

.email-update-info input[type=submit], .password-update-info input[type=submit] {
    width: 107px;
    height: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: #FA8334;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #FA8334;
}

.email-update-info input[type=submit]:hover, .password-update-info input[type=submit]:hover {
    background-color: #FFFFFF;
    color: #FA8334;
    transition: 0.6s;
}

.delete-account-info span {
    margin-bottom: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #FA8334;
    text-decoration: underline;
}

.delete-account-info p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #50514F;
    margin-top: 0;
    margin-bottom: 15px;
}

.delete-account-info input[type=submit] {
    width: 169px;
    height: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: #FE2727;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #FE2727;
}

.delete-account-info input[type=submit]:hover {
    background-color: #FFFFFF;
    color: #FE2727;
    transition: 0.6s;
}