@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@media screen and (max-width: 850px) {
    #container-register {
        width: 90%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #container-register .registration-title {
        font-size: 28px;
    }

    #container-register .registration-form {
        margin-left: 0;
        width: 100%;
        height: 100%;
    }

    #signup {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #container-register {
        width: 90%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #container-register .registration-form {
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
}

body{
    padding: 0;
    margin: 0;
}

.container-register {
    width: 100%;
    display: flex;
    margin-top: 35px;
    margin-bottom: 70px;
}

/*CSS of register form*/
.registration-form{
    margin-left: 120px;
    width: 45%;
    height: 100%;
    flex-direction: row;
}

.registration-title{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
    color: #50514F;
}

form {
    margin-top: 39px;
}

.details {
    width: 335px;
    height: 80px;
    margin-bottom: 23px;
}

label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #50514F;
}

.details input[type=text], [type=email] {
    display: block;
    width: 319px;
    height: 43px;
    background: rgba(234, 236, 237, 1);
    border-radius: 5px;
    border: none;
    font-family: nunito;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    padding-left: 14px;
    color: #50514F;
}

input[type=checkbox] {
    width: 12px;
    height: 12px;
}

.terms-conditions label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #50514F;
}

.terms-conditions label a {
    color: #FA8334;
}

.signup-button input {
    width: 336px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color:#FA8334;
    font-family: nunito ;
    font-weight: 800;
    font-size: 24px;
    color:rgba(255, 255, 255, 1);
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}

.signup-button input:hover {
    background-color: #FFFFFF;
    color:#FA8334;
    transition: 0.6s;
}

.have-account label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 3em;
    color: #50514F;
    margin-left: 78px;
    display: flex;
}

.have-account label a {
    color: #FA8334;
}
  
.password-showhide {
    width: 336px;
    height: 45px;
    max-height: 45px;
    background-color: rgba(234, 236, 237, 1);
    border: none;
    border-radius: 10px;
    margin-bottom: 23px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.password-showhide input {
    width: 336px;
    background-color: rgba(234, 236, 237, 1);
    border: none;
    border-radius: 10px;
    font-family: nunito;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    padding-left: 14px;
    display: flex;
}

.password-showhide button {
    width: 30px;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(234, 236, 237, 1);
    border-radius: 10px;
}

.password-showhide i{
    font-size: 14px;
    display: flex;
    cursor: pointer;
}

.password-showhide i:hover {
    color: white;
}

.proof-des {
    margin-bottom: 35px;
}

.tr-paragraph {
    margin-top: 2px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    width: 406px;
    height: 66px;
    color: rgba(80, 81, 79, 0.8);
    margin-bottom: 7px; 
}

#custom-button {
    width: 118px;
    height: 35px;
    background-color: #FA8334;
    border-radius: 5px;
    padding: 6px 16px 7px 16px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

#custom-button:hover {
    background-color: #FFFFFF;
    color: #FA8334;
    transition: 0.6s;
}

#custom-text {
    color: rgba(80, 81, 79, 0.8);
    width: 200px;
    height: 22px;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    overflow: auto;
    margin-left: 12px;
}

.upload-file {
    align-items: center;
}
